nav.main-nav.navbar.navbar-default
  .container
    .navbar-header
      a.navbar-brand.logo.bb-logotype(href="/")
        img.little-logo(src='img/bb-logo-vector.png')
        | Blue Button
    ul.top-nav.nav.navbar-nav.pull-right.hidden-xs
      li: a(href='#') Get my records
      li: a(href='#') Use my records
