extends templates/layout

block content
  include templates/_topnav

  .container
    h1.page-title Get my health records
    .col-md-4.col-sm-4
      h4.fg-dgrey Select a source
      h6
        strong.fg-maqua Tip:
        |  You may have records in more than one source.
        |  One in three Americans has data available in their health insurance.

    .col-md-8.col-sm-8
      ul.row.data-sources.list-unstyled.text-center
        li.col-md-6.col-sm-6
          a.box-link-rapper(href='#insurance', data-toggle='tab')
            h3.fg-white Health Insurance
            i.insurance-icon.icon-umbrella
            h6.start-here.fg-white start here
        li.col-md-6.col-sm-6
          a.box-link-rapper(href='#physician', data-toggle='tab')
            h3.fg-white Physician or Hospital
            i.icon-user-md
        li.col-md-6.col-sm-6
          a.box-link-rapper(href='#pharmacy', data-toggle='tab')
            h3.fg-white Pharmacy or Lab
            i.icon-plus-sign-alt
        li.col-md-6.col-sm-6
          a.box-link-rapper(href='#immunization', data-toggle='tab')
            h3.fg-white Immunization Registry
            i.icon-medkit

    .tab-content
      #insurance.tab-pane
        .col-md-4
          h4.fg-dgrey Select your insurance provider

        .col-md-8.providers
          include templates/_provider_list


      #physician.tab-pane
        .col-md-4
          h4.fg-dgrey Select your physician

        .col-md-8.providers
          include templates/_provider_list

      #pharmacy.tab-pane
        .col-md-4
          h4.fg-dgrey Select your pharmacy

        .col-md-8.providers
          include templates/_provider_list

      #immunization.tab-pane
        .col-md-4
          h4.fg-dgrey Select your immunization registry

        .col-md-8.providers
          include templates/_provider_list

