extends ../templates/layout
append vars
  - nestLevel = '../'
block content
  include ../includes/_topnav
  .container
    h1.page-title
    .row
      .col-sm-6
        #wufoo-z1a79ga3024pxln One moment please...<br><br>(you may also fill out this form <a href="https://limechile.wufoo.com/forms/z1a79ga3024pxln">here</a>).<br><br>
        script.
          var z1a79ga3024pxln;
          function onGetWuVals(res) {
            setupWu(document, 'script', res.wuParams);
          }
          function setupWu(d, t, wuParams) {
            $('.page-title').remove();
            var s = d.createElement(t), options = {
            'userName':'limechile',
            'formHash':'z1a79ga3024pxln',
            'autoResize':true,
            'height':'1090',
            'async':true,
            'host':'wufoo.com',
            'header':'show',
            'defaultValues': wuParams,
            'ssl':true};
            s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
            s.onload = s.onreadystatechange = function() {
              var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
              try {
                z1a79ga3024pxln = new WufooForm();
                z1a79ga3024pxln.initialize(options);
                z1a79ga3024pxln.display();
              } catch (e) {}
            };
            var scr = d.getElementsByTagName(t)[0], par = scr.parentNode;
            par.insertBefore(s, scr);
          };
          var urlParams;
          (window.onpopstate = function () {
              var match,
                  pl     = /\+/g,  // Regex for replacing addition symbol with a space
                  search = /([^&=]+)=?([^&]*)/g,
                  decode = function (s) { return decodeURIComponent(s.replace(pl, " ")); },
                  query  = window.location.search.substring(1);

              urlParams = {};
              while (match = search.exec(query))
                 urlParams[decode(match[1])] = decode(match[2]);
          })();

          if (typeof urlParams.id === "undefined") {
            setupWu(document, 'script', '')
          } else {
            $('.page-title').text("Loading...");
            $.ajax({
              url: "https://script.google.com/macros/s/AKfycbyLS-LV_9Vi0KrCLPzQjdPCQVHvPh326ibr_VTkMTmOKlOiYIjM/exec",
              dataType: "jsonp",
              data: {
                action: "getwureceiver",
                id: urlParams.id,
                format: "jsonp"
              },

              // work with the response
              success: onGetWuVals
            });
          }
