nav.main-nav.navbar.navbar-default
  .container
    .navbar-header
      a.navbar-brand.logo.bb-logotype(href="index.html")
        img.little-logo(src='img/bb-logo-depth-small.jpg')
        | Blue Button
    ul.top-nav.nav.navbar-nav.pull-right.hidden-xs
      li: a(href='findrecords.html') Health records
      li: a(href='userecords-1.html') Apps
