nav.main-nav.navbar.navbar-default
  .container
    .navbar-header
      a.navbar-brand.logo.bb-logotype(href="#{nestLevel}")
        img.little-logo(src='#{nestLevel}img/bb-logo-depth-small.jpg')
        | Blue Button Connector
    ul.top-nav.nav.navbar-nav.pull-right.hidden-xs
      li: a(href='#{nestLevel}records') Health Records
      li: a(href='#{nestLevel}apps') Apps
