extends layout
append vars
  - pgTitle = 'Blue Button Connector | Apps'
block content
  include ../includes/_topnav
  .container
    h1.sub-title.use-records-description There are thousands of health apps out there.

    p.readable-width.fg-mgrey Most of them require you to enter in your own information. Wouldn't it be nice if they connected directly to your information in your existing health records?

    p.readable-width.fg-mgrey The apps here use Blue Button+ standards, meaning they accept information directly from your healthcare providers' records or another data source (assuming your healthcare provider is using the Blue Button+ standards on their end).

    p.readable-width.fg-mgrey So when you find an app you like here, you can upload your own health information. You can also use these apps even if your doctor or other data source isn't sharing data via Blue Button yet.

    hr.hairline

    ul#app-list.row.list-unstyled
      include _app-list

    hr.hairline
    h5.fw-normal.fg-dblue Know an app that should be listed?
    h6.fg-mgrey Tell us about it or suggest corrections.
    a.btn.btn-primary(href='mailto:bluebutton@hhs.gov?subject=App%20suggestion%20for%20the%20Connector') Suggest an app
    hr.hairline
    .app-disclaimer
      p.fg-mgrey.fs-xxsmall.readable-width
        | The apps and services above are just a fraction of the resources available
        | today. The Department of Health and Human Services or the U.S. Government does not
        | endorse any product, service or general policies of any non-Federal entity nor is
        | responsible for the content of any individual organization's material or web pages
        | found at these links.
