extends layout
append vars
  - nestLevel = '../'
  - pgTitle = 'Blue Button Connector | Apps'
block content
  include ../includes/_topnav
  .container
    h1.sub-title.use-records-description There are thousands of health apps out there.

    .p-10.bg-danger.col-sm-8
      p.readable-width <strong>NOTE:</strong> Thank you for your interest in the Blue Button Connector. As of May 2017, information on the Blue Button Connector website will no longer by actively updated. The app information you find may not be up to date. The Office of the National Coordinator for Health Information Technology (ONC) is continuing work on additional resources to help patients manage their health care information. For more information and other Health IT resources, visit <a href='https://www.healthit.gov'>HealthIT.gov</a>

  ul#app-list.row.list-unstyled
    include _app-list

  .container
    hr.hairline
    //- h5.fw-normal.fg-dblue Know an app that should be listed?
    //- a.btn.btn-primary(href='http://bluebuttonconnector.healthit.gov/update-app') Suggest an app
    //- hr.hairline
    .app-disclaimer
      p.fg-mgrey.fs-xxsmall.readable-width
        | The apps and services above are just a fraction of the resources available
        | today. The Department of Health and Human Services or the U.S. Government does not
        | endorse any product, service or general policies of any non-Federal entity nor is
        | responsible for the content of any individual organization's material or web pages
        | found at these links.
