.tab-pane.no-data
  .col-md-4
    h5 Don't see your organization or provider listed?

  .col-md-8
    h3 You may have a legal right under HIPAA to get your health records electronically.
    a.btn.btn-large(href='#') Learn More
