ul.nav.nav-pills.nav-stacked.col-sm-12.col-md-6.provider-list
  - each provider in providerList
    li: a(href='providers/' + provider.id + '.html') #{provider.organization}

.tab-content.col-sm-12.col-md-6
  .tab-pane.no-data.active
    h4 Don't see your organization or provider listed?
    h6 You may have a legal right under HIPAA to get your health records electronically.
    a.not-listed-learn-more.btn.btn-lg.btn-primary(href='mailto:bluebutton@hhs.gov?subject=Request+My+Data+From...&body=Enter+the+name+of+your+provider+in+the+subject+line', target='_blank') Request
