- each app in receiverList
  li.col-sm-4.app-rapper
    a.text-center(href=app.link)
      img.app-icon(src='img/apps/' + app.img)
    h5.fg-maqua= app.name
    .app-description
      h6= app.description