- var appsGrouped = receiverList.reduce(function (prev, item, i) { if(i % 3 === 0){prev.push([item]);} else {prev[prev.length - 1].push(item);} return prev; }, []);

each group in appsGrouped
  .row.clearix
    each app in group
      li.col-sm-4.app-rapper.text-center
        a(href=app.url, target='_blank')
          img.app-icon(src='img/apps/' + app.img)
          h5.fg-maqua= app.name
        .app-description.text-left
          h6.fs-small= app.description
