!!! 5
html
  block head
    head
      title Blue Button Hub | Download Your Health Information
      meta(name='viewport', content='width=device-width, initial-scale=1')
      meta(content='text/html; charset=UTF-8', http-equiv='Content-Type')
      meta(http-equiv='X-UA-Compatible', content='IE=edge')

      link(rel='shortcut icon', href='favicon.ico')
      link(rel='stylesheet', href='css/bbhub-combined.css')
      //if IE 7
        link(rel='stylesheet', href='css/font-awesome-ie7.min.css')

      script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
      script.
        window.jQuery || document.write('<script src="js/jquery-1.10.2.min.js">\x3C/script>')
      script(src='js/bbhub-combined.min.js')

  body
    block content

    block footer
      .section.footer
        .container
          ul.pull-right.list-inline
            li: a(href="#").share-icon: i.icon-envelope
            li: a(href="https://www.facebook.com/bluebuttonhealth").share-icon: i.icon-facebook
            li: a(href="https://twitter.com/ProjectBlueBtn").share-icon: i.icon-twitter

          p.bb-logotype.inline
            img.little-logo(src='img/bb-logo-vector.png')
            //- | Blue Button

          ul.list-inline.inline
            li: a(href="#") About
            li:  |
            li:  a(href="supporters.html") Supporters
