extends ../templates/layout
append vars
  - nestLevel = '../'
block content
  .pra-title.pull-right
    p.fs-xxsmall.fg-mgrey!= 'Form Approved <br> OMB No. 0955-0016'
  include ../includes/_topnav

  #org.container.mb-25

  script#org_tpl(type='text/ractive')
    {{#if _loading}}
    h1.page-title Loading...
    {{elseif _saved}}
    h2 Thank you for helping us update the Connector!
    h4 The information will be available on the web site as soon as it is approved.
    p.pt-5.mb-25
      a.btn.btn-primary(href='http://bluebuttonconnector.healthit.gov/') Back to Connector home
    {{else}}
    .row
      .col-sm-12.col-md-8.col-lg-6
        form.form-horizontal(action='http://api.bluebuttonconnector.healthit.gov/organizations' method='post')

          .form-page
            include _page-1

        .form-section-header.hidden-print
          .col-sm-8.col-sm-push-4
            include _paginator
    {{/if}}

block mainscript
  script(src='#{nestLevel}js/ractive-legacy.min.js')
  script(src='#{nestLevel}js/bb-forms.min.js')