// COLORS
//

// Grey
$dgrey = #474b5a
.bg-dgrey
  background-color $dgrey

.fg-dgrey
  color $dgrey


$mgrey = #959dac
.bg-mgrey
  background-color $mgrey

.fg-mgrey
  color $mgrey


$lgrey = #e4e6ea
.bg-lgrey
  background-color $lgrey

.fg-lgrey
  color $lgrey


// Aqua
$daqua = #0a94bb
.bg-daqua
  background-color $daqua

.fg-daqua
  color $daqua


$maqua = #25c2dc
.bg-maqua
  background-color $maqua

.fg-maqua
  color $maqua


$laqua = #a7e6f0
.bg-laqua
  background-color $laqua

.fg-laqua
  color $laqua


// Blue
$dblue = #0070bb
.bg-dblue
  background-color $dblue

.fg-dblue
  color $dblue


$mblue = #328cc8
.bg-mblue
  background-color $mblue

.fg-mblue
  color $mblue


$lblue = #80c0dd
.bg-lblue
  background-color $lblue

.fg-lblue
  color $lblue


.bg-white
  background-color white

.fg-white
  color white
