// STROKES
//
.page-title
  @extend .h1
  padding-bottom 30px
  @media(max-width:320px)
    padding-bottom 15px
    margin-top 10px
  border-bottom 1px solid $maqua

.sub-title
  @extend .h2
  padding-bottom 16px
  @media(max-width:320px)
    padding-bottom 10px
    margin-top 10px
  border-bottom 3px solid $dblue

hr
  height 0
  border none
  border-bottom-style solid
  border-bottom-width 1px
  border-bottom-color $dblue

  &.hairline
    border-bottom-width 1px

  &.medium
    border-bottom-width 3px

  &.fat
    border-bottom-width 6px

  &.white
    border-bottom-color white
