// MAIN STYLESHEET
//
@import nib
@import _mixins
@import _color
@import _typography
@import _strokes


// Bootstrap overrides
html, body
  width: auto !important;
  overflow-x: hidden !important;

.btn
  border-radius 0
  border none

.btn-large
  fs 36px

.btn-med
  fs 24px

.btn-primary
  @extend .bg-dblue
  @extend .fw-strong
  fs 1.2em

.btn-info
  @extend .bg-laqua
  @extend .fg-daqua
  @extend .fw-strong
  fs 1.2em

.btn-warning
  @extend .bg-dgrey
  @extend .fw-normal
  &:hover
    @extend .bg-mgrey

.alert.alert-slim
  padding 5px
  mb 0

.top-nav
  mt 15px

.minimal-back-nav
  border-bottom solid 2px $dblue
  padding 0 15px

.bb-onc-header
  @extend .bg-dblue
  @extend .fg-white
  position relative
  height 80px
  padding 15px
  img.bb-onc-logo
    position relative
    width 150px
    mr 20px
    vertical-align bottom
  .onc-tagline
    line-height 1em
    fs 1.1em
    mt 0
  .top-nav
    pt 2px
    li
      a
        color #fff
        &:hover
          color $dgrey

.next-btn
  position absolute
  bottom 40px
  left 40px
  fs 18px
  line-height 5px
  i
    fs 2.5em

.next-btn-fixed
  position fixed
  bottom 20px
  left 20px

.readable-width
  max-width 620px

.readable-width-centered
  max-width 620px
  mr auto
  ml auto

.alt-use
  a
    text-decoration underline
    @extend .fg-dblue

.share-blurb
  mt 32px
  pr 0
  p
    line-height 2em
  @media(max-width:767px)
    mt 8px

.share-btn
  ml 10px

.share-icon
  @extend .bg-dgrey
  @extend .fg-white
  height 40px
  width 40px
  border-radius 50%
  display block
  text-align center
  line-height 40px
  font-size 20px
  @media(max-width:767px)
    height 32px
    width 32px
    line-height 32px
    font-size 16px

.main-nav
  border none
  border-bottom solid 6px $dblue
  border-radius none
  padding 18px 0
  background none
  .navbar-header
    pl 0

.navbar
  border-radius none !important

  @media screen and (min-width: 768px)
    border-radius none !important

img.little-logo
  width 56px
  height 56px
  mr 8px
  ml -5px

.force-inline
  @media screen and (min-width: 768px)
    display inline !important

.bb-logotype
  mt 10px
  fs 1.5em
  font-weight bold !important
  color $dblue !important

.section
  padding 80px 0 80px 0
  position relative
  @media(max-width:767px)
    pt 30px
    pb 30px

body
  @extend .bg-white

.splash-section
  height 550px
  pt 0px
  background-color #fff
  .splash-img-wrapper
    height 262px
    position relative
    background-color #3c9ed2
    image '../img/splash-bg-prog.jpg' 385px 262px
    background-repeat no-repeat
    background-position center

  .splash-title
    mt 0px
    h1
      @extend .bg-white
      @extend .fg-dblue
      padding 35px 0 15px
      margin 0 0 12px 0

  .btn-primary
    @extend .bg-dblue
    fs 32px


.wrap-outer-icon
  .wrap-icon
    height 140px
    width 140px
    margin auto
    pt 22px
    border-radius 100px
    border solid 5px #fff

.circ-col
  padding 40px 42px 10px

.big-icon
  fs 600%
  padding 10px

.centered-row
  text-align center
  [class*='col-']
    vertical-align top
    float none
    display inline-block


.section.why-bb
  @extend .bg-maqua
  @extend .fg-white

  .why-share, .why-secure
    .wrap-icon
      @extend .bg-lblue
  .why-check
    .wrap-icon
      @extend .bg-mblue
  .why-recall
    .wrap-icon
      @extend .bg-daqua

  h5
    fs 1.1em

.flex-video
  position relative
  pt 0
  pb 67.5%
  height 0
  mb 16px
  overflow hidden
  iframe, object, embed
    position absolute
    top 0
    left 0
    width 100%
    height 100%
  &.vimeo
    pt 0
  &.widescreen
    pb 57.25%

// @media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px), only screen and (max-width: 767px)
//   .flex-video
//     pt 0

.vid-still
  position relative

@media screen and (min-width: 768px) and (max-width: 991px)
  #vid-modal
    .modal-dialog
      width 700px

@media screen and (min-width: 992px)
  #vid-modal
    .modal-dialog
      width 800px


.section.get-started

  .start-find
    .img-header
      @extend .fg-daqua
    .wrap-icon
      image '../img/magnify-icon.png' 130px 129px
      background-repeat no-repeat
      background-position center
      bgc $daqua
    .step-num
      line-height 59px
  .start-download
    .img-header
      @extend .fg-mblue
    .wrap-icon
      image '../img/bb-thin-outline.png' 130px 128px
      background-repeat no-repeat
      background-position center
      bgc $mblue
    .step-num
      line-height 50px
  .start-use
    .img-header
      color #6ea9d3
    .wrap-icon
      image '../img/arrow-right-thin-outline.png' 130px 128px
      background-repeat no-repeat
      background-position center
      bgc #6ea9d3
    .step-num
      line-height 74px

  h2.big-header, .lead
    color $maqua
  .img-subtext
    color $dgrey

.section.what-do
  bgc #fff
  pb 50px

.step-num
  fw bold
  fs 28px


.section.testimonials
  bgc $mblue
  color #fff
  @media(max-width:767px)
    pb 80px
  .img-container
    text-align left
    overflow hidden
    padding 0 3px
    margin 4px 0
    position relative
    height 200px
    @media(max-width:767px)
      margin 10px 0 18px
    img
      width 100%
      min-height 200px
    .caption-wrapper
      position absolute
      bottom 0px
      left 0px
      padding 0px 3px
      width 100%
      .caption
        padding 6px
        margin 0
        bgc rgba(0,0,0,0.6)
        color #fff
        width 100%

.section.footer
  pt 20px
  pb 20px
  bgc $lgrey
  .meta-links
    color $mgrey

.img-subtext
  fw normal
  lh 1.2em
  ta center
  fs 1.5em

.load-profile
  min-height 400px

.fake-checkbox
  // display block
  color $mgrey
  mr 10px

  &:before
    fs 2.5em
    line-height 1.4em
    font-family FontAwesome
    content '\f096'

  &.checked
    color $dgrey
    &:before
      content '\f046'

  em
    display none

// .feature-title
//   mt -10px

.box-link-rapper
  display block
  mb 30px
  padding 5px
  text-decoration none
  height 150px
  bgc $maqua
  color #fff
  &:hover, li.active &
    color #fff
    text-decoration none
    bgc $daqua
  i
    display inline-block !important
    fs 48px
    pt 8px
  .insurance-icon
    pt 0
  .start-here
    mt 2px

  @media screen and (max-width: 767px)
    text-align left
    pl 65px
    mb 10px
    height auto
    i
      fs 36px
      position absolute
      left 30px
      top 0px
      &.insurance-icon
        top 20px
    h3
      mt 10px


.use-records-description, .app-disclaimer
  margin 40px 0

.app-rapper
  mb 40px
  .app-icon
    width 128px
    height 128px

.nav-pills>li
  >a
    border-radius 0
    color $dgrey
    fs 18px
  &.active>a
    bgc $maqua
    &:hover, &:focus
      bgc $maqua

#select-provider-wrapper
  min-height 250px

.providers
  padding 20px 10px
  border-top solid 5px $maqua

.provider-list
  pr 0px
  height 290px
  overflow-y auto
  &.nav-pills>li>a
    fs 16px
    line-height 1.3em
    &.highlight
      bgc #ccc

.provider-search-wrapper
  mb 10px
  mt 6px
  border-top solid 1px $lgrey

.no-data
  mt 0px
  pl 20px
  border-left solid 1px $mgrey
  @media screen and (max-width: 767px)
    border-left none
    pl 0px
    mt 15px
    border-top solid 1px $dgrey

.view-profile-btn
  text-decoration underline

.get-data-btn
  fs 18px

.or
  padding 0 15px

.not-listed-learn-more
  text-decoration underline

.get-records-wrapper-link
  pr 40px
  display inline-block

.provider-about-header, .provider-description
  pr 20px

ul.additional-features-list
  mt 10px
  ml 18px

  li
    line-height 1.5em

.get-records-prep
  @extend .fg-maqua
  position relative
  mt 0
  mb 25px
  img.arrow-up
    position absolute
    top -60px
    right -25px
    z-index 1000
  p
    fs 18px

.go-get-em-header
  fs 18px
  text-transform uppercase
  pt 0
  pb 0

  @media screen and (min-width: 768px) and (max-width: 991px)
    fs 14px



.ask-participate
  mb 40px
  mt 40px
  border-top solid 1px $lgrey

.offerings
  @extend .bg-maqua
  @extend .fg-white
  @extend .clearfix
  padding 0 15px 15px
  margin-left -15px
  margin-right -15px
  ul>li
    fs 16px
    pb 7px

.partners-lists-container
  mb 35px

.app-coming-soon
  fs 5em

.app-description
  max-width 220px
  mr auto
  ml auto

.privacy-last-section
  pb 60px

.profile-img
  width 400px

