// STYLEGUIDE
// 

@import _mixins
@import _color

.sg-main-title
  &, h1&, h2&
    color $dgrey
    border-bottom solid 8px $dgrey
    padding-bottom 20px

  .downplay
    fw normal

.sg-section-title
  color $dgrey
  border-bottom solid 6px $dgrey
  padding-bottom 16px
