.blockize {
  display: block;
}
.inline {
  display: inline;
}
.clearfix,
.offerings {
  overflow: hidden;
}
.no-pad {
  padding: 0;
}
.pt-5 {
  padding-top: 5px;
}
.bg-dgrey,
.btn-warning,
.share-icon {
  background-color: #474b5a;
}
.fg-dgrey,
h6,
.h6,
.caption-text,
body,
p,
li,
.body-text {
  color: #474b5a;
}
.bg-mgrey,
.btn-warning:hover {
  background-color: #959dac;
}
.fg-mgrey,
h3,
.h3,
.section-title,
h4,
.h4,
.title-description,
.main-nav a {
  color: #959dac;
}
.bg-lgrey {
  background-color: #e4e6ea;
}
.fg-lgrey {
  color: #e4e6ea;
}
.bg-daqua,
.section.why-bb .why-recall .wrap-icon {
  background-color: #0a94bb;
}
.fg-daqua,
.btn-info {
  color: #0a94bb;
}
.bg-maqua,
.section.why-bb,
.offerings {
  background-color: #25c2dc;
}
.fg-maqua,
h1,
.h1,
.page-title,
.main-nav a,
.get-records-prep {
  color: #25c2dc;
}
.bg-laqua,
.btn-info {
  background-color: #a7e6f0;
}
.fg-laqua {
  color: #a7e6f0;
}
.bg-dblue,
.btn-primary,
.bb-onc-header,
.splash-section .btn-primary {
  background-color: #0070bb;
}
.fg-dblue,
h2,
.h2,
.sub-title,
.alt-use a,
.splash-section .splash-title h1 {
  color: #0070bb;
}
.bg-mblue,
.section.why-bb .why-check .wrap-icon {
  background-color: #328cc8;
}
.fg-mblue {
  color: #328cc8;
}
.bg-lblue,
.section.why-bb .why-share .wrap-icon,
.section.why-bb .why-secure .wrap-icon {
  background-color: #80c0dd;
}
.fg-lblue {
  color: #80c0dd;
}
.bg-white,
body,
.splash-section .splash-title h1 {
  background-color: #fff;
}
.fg-white,
h5,
.h5,
.photo-title,
.bb-onc-header,
.share-icon,
.section.why-bb,
.offerings {
  color: #fff;
}
.fs-xxlarge,
h1,
.h1,
.page-title {
  font-size: 48px;
}
@media (max-width:767px) {
  .fs-xxlarge,
  h1,
  .h1,
  .page-title,
h1,
.h1,
.page-title {
    font-size: 32px;
  }
}
.fs-xlarge,
h2,
.h2,
.sub-title {
  font-size: 30px;
}
@media (max-width:767px) {
  .fs-xlarge,
  h2,
  .h2,
  .sub-title,
h2,
.h2,
.sub-title {
    font-size: 24px;
  }
}
.fs-large,
h3,
.h3,
.section-title,
h4,
.h4,
.title-description,
.main-nav a {
  font-size: 24px;
}
@media (max-width:767px) {
  .fs-large,
  h3,
  .h3,
  .section-title,
  h4,
  .h4,
  .title-description,
  .main-nav a,
h3,
.h3,
.section-title,
h4,
.h4,
.title-description,
.main-nav a {
    font-size: 20px;
  }
}
.fs-medium,
h5,
.h5,
.photo-title {
  font-size: 21px;
}
@media (max-width:767px) {
  .fs-medium,
  h5,
  .h5,
  .photo-title,
h5,
.h5,
.photo-title {
    font-size: 18px;
  }
}
.fs-small,
h6,
.h6,
.caption-text {
  font-size: 18px;
}
@media (max-width:767px) {
  .fs-small,
  h6,
  .h6,
  .caption-text,
h6,
.h6,
.caption-text {
    font-size: 16px;
  }
}
.fs-xsmall,
body,
p,
li,
.body-text {
  font-size: 14px;
}
.fs-xxsmall {
  font-size: 12px;
}
.fw-strong,
h1,
.h1,
.page-title,
h2,
.h2,
.sub-title,
h3,
.h3,
.section-title,
h5,
.h5,
.photo-title,
.btn-primary,
.btn-info {
  font-weight: bold;
}
.fw-normal,
h6,
.h6,
.caption-text,
body,
p,
li,
.body-text,
.btn-warning {
  font-weight: normal;
}
.fw-light,
h4,
.h4,
.title-description,
.main-nav a {
  font-weight: 200;
}
.td-underline {
  text-decoration: underline;
}
h1,
.h1,
.page-title {
  line-height: 1.2em;
}
h2,
.h2,
.sub-title {
  line-height: 1.2em;
}
h3,
.h3,
.section-title {
  line-height: 1.2em;
}
h4,
.h4,
.title-description,
.main-nav a {
  line-height: 1.2em;
}
h5,
.h5,
.photo-title {
  line-height: 1.2em;
}
h6,
.h6,
.caption-text {
  line-height: 1.2em;
}
body,
p,
li,
.body-text {
  line-height: 1.2em;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
.main-nav a a {
  color: inherit;
}
a,
a:hover {
  text-decoration: none;
}
ul.dashed {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}
ul.dashed li:before {
  content: "–";
  margin-right: 10px;
}
.page-title {
  padding-bottom: 30px;
  border-bottom: 1px solid #25c2dc;
}
.sub-title {
  padding-bottom: 16px;
  border-bottom: 3px solid #0070bb;
}
hr {
  height: 0;
  border: none;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #0070bb;
}
hr.hairline {
  border-bottom-width: 1px;
}
hr.medium {
  border-bottom-width: 3px;
}
hr.fat {
  border-bottom-width: 6px;
}
hr.white {
  border-bottom-color: #fff;
}
html,
body {
  width: auto !important;
  overflow-x: hidden !important;
}
body.modal-open {
  margin-right: 0px;
}
.btn {
  -webkit-border-radius: 0;
  border-radius: 0;
  border: none;
}
.btn-large {
  font-size: 36px;
}
.btn-med {
  font-size: 24px;
}
.btn-primary {
  font-size: 1.2em;
}
.btn-info {
  font-size: 1.2em;
}
.alert.alert-slim {
  padding: 5px;
  margin-bottom: 0;
}
.top-nav {
  margin-top: 15px;
}
.minimal-back-nav {
  border-bottom: solid 2px #0070bb;
  padding: 0 15px;
}
.bb-onc-header {
  position: relative;
  height: 80px;
  padding: 15px;
}
.bb-onc-header img.bb-onc-logo {
  position: relative;
  width: 150px;
  margin-right: 20px;
  vertical-align: bottom;
}
.bb-onc-header .onc-tagline {
  line-height: 1em;
  font-size: 1.1em;
  margin-top: 0;
}
.bb-onc-header .top-nav {
  padding-top: 2px;
}
.bb-onc-header .top-nav li a {
  color: #fff;
}
.bb-onc-header .top-nav li a:hover {
  color: #474b5a;
}
.next-btn {
  position: absolute;
  bottom: 40px;
  left: 40px;
  font-size: 18px;
  line-height: 5px;
}
.next-btn i {
  font-size: 2.5em;
}
.next-btn-fixed {
  position: fixed;
  bottom: 20px;
  left: 20px;
}
.readable-width {
  max-width: 620px;
}
.readable-width-centered {
  max-width: 620px;
  margin-right: auto;
  margin-left: auto;
}
.alt-use a {
  text-decoration: underline;
}
.share-blurb {
  margin-top: 32px;
  padding-right: 0;
}
.share-blurb p {
  line-height: 2em;
}
@media (max-width:767px) {
  .share-blurb {
    margin-top: 8px;
  }
}
.share-btn {
  margin-left: 10px;
}
.share-icon {
  height: 40px;
  width: 40px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  display: block;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
}
@media (max-width:767px) {
  .share-icon {
    height: 32px;
    width: 32px;
    line-height: 32px;
    font-size: 16px;
  }
}
.main-nav {
  border: none;
  border-bottom: solid 6px #0070bb;
  padding: 18px 0;
  background: none;
}
.main-nav .navbar-header {
  padding-left: 0;
}
@media screen and (min-width: 768px) {
}
img.little-logo {
  width: 56px;
  height: 56px;
  margin-right: 8px;
  margin-left: -5px;
}
@media screen and (min-width: 768px) {
  .force-inline {
    display: inline !important;
  }
}
.bb-logotype {
  margin-top: 10px;
  font-size: 1.5em;
  font-weight: bold !important;
  color: #0070bb !important;
}
.section {
  padding: 80px 0 80px 0;
  position: relative;
}
@media (max-width:767px) {
  .section {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.splash-section {
  height: 550px;
  padding-top: 0px;
  background-color: #fff;
}
.splash-section .splash-img-wrapper {
  height: 280px;
  position: relative;
  background-color: #3c9ed2;
  background-image: url("../img/splash-bg-prog.jpg");
  background-repeat: no-repeat;
  background-position: bottom center;
}
@media all and (-webkit-min-device-pixel-ratio:1.5),(min--moz-device-pixel-ratio:1.5),(-o-min-device-pixel-ratio:1.5/1),(min-device-pixel-ratio:1.5),(min-resolution:138dpi),(min-resolution:1.5dppx) {
  .splash-section .splash-img-wrapper {
    background-image: url("../img/splash-bg-prog@2x.jpg");
    -webkit-background-size: 385px 262px;
    -moz-background-size: 385px 262px;
    background-size: 385px 262px;
  }
}
.splash-section .splash-title {
  margin-top: 0px;
}
.splash-section .splash-title h1 {
  padding: 35px 0 15px;
  margin: 0 0 12px 0;
}
.splash-section .btn-primary {
  font-size: 32px;
}
.wrap-outer-icon .wrap-icon {
  height: 140px;
  width: 140px;
  margin: auto;
  padding-top: 22px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  border: solid 5px #fff;
}
.circ-col {
  padding: 40px 42px 10px;
}
.big-icon {
  font-size: 600%;
  padding: 10px;
}
.fa {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  background-size: 100% 100%;
}
.fa-chevron-up {
  background-image: url("../img/icons/chevron-up.png");
  background-image: url("data:image/svg+xml;utf-8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='64' height='64' viewBox='0 0 100 100'><g transform='translate(10,70)'><g transform='scale(0.05,-0.05)'><path fill='#ffffff' d='M1611 320q0 -53 -37 -90l-75 -75q-38 -38 -91 -38q-54 0 -90 38l-486 485l-486 -485q-36 -38 -90 -38t-90 38l-75 75q-38 36 -38 90q0 53 38 91l651 651q37 37 90 37q52 0 91 -37l650 -651q38 -38 38 -91z' /></g></g></svg>"), none;
}
.fa-lock {
  background-image: url("data:image/svg+xml;utf-8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='96' height='96' viewBox='0 0 100 100'><g transform='translate(20,75)'><g transform='scale(0.05,-0.05)'><path fill='#ffffff' d='M320 768h512v192q0 106 -75 181t-181 75t-181 -75t-75 -181v-192zM1152 672v-576q0 -40 -28 -68t-68 -28h-960q-40 0 -68 28t-28 68v576q0 40 28 68t68 28h32v192q0 184 132 316t316 132t316 -132t132 -316v-192h32q40 0 68 -28t28 -68z' /></g></g></svg>"), none;
}
.fa-file-text-o {
  background-image: url("data:image/svg+xml;utf-8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='96' height='96' viewBox='0 0 100 100'><g transform='translate(20,75)'><g transform='scale(0.05,-0.05)'><path fill='#ffffff' d='M1024 352v-64q0 -14 -9 -23t-23 -9h-704q-14 0 -23 9t-9 23v64q0 14 9 23t23 9h704q14 0 23 -9t9 -23zM1024 608v-64q0 -14 -9 -23t-23 -9h-704q-14 0 -23 9t-9 23v64q0 14 9 23t23 9h704q14 0 23 -9t9 -23zM128 0h1024v768h-416q-40 0 -68 28t-28 68v416h-512v-1280z M768 896h376q-10 29 -22 41l-313 313q-12 12 -41 22v-376zM1280 864v-896q0 -40 -28 -68t-68 -28h-1088q-40 0 -68 28t-28 68v1344q0 40 28 68t68 28h640q40 0 88 -20t76 -48l312 -312q28 -28 48 -76t20 -88z' /></g></g></svg>"), none;
}
.fa-user-md {
  background-image: url("data:image/svg+xml;utf-8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='96' height='96' viewBox='0 0 100 100'><g transform='translate(15,75)'><g transform='scale(0.05,-0.05)'><path fill='#ffffff' d='M384 192q0 -26 -19 -45t-45 -19t-45 19t-19 45t19 45t45 19t45 -19t19 -45zM1408 131q0 -121 -73 -190t-194 -69h-874q-121 0 -194 69t-73 190q0 68 5.5 131t24 138t47.5 132.5t81 103t120 60.5q-22 -52 -22 -120v-203q-58 -20 -93 -70t-35 -111q0 -80 56 -136t136 -56 t136 56t56 136q0 61 -35.5 111t-92.5 70v203q0 62 25 93q132 -104 295 -104t295 104q25 -31 25 -93v-64q-106 0 -181 -75t-75 -181v-89q-32 -29 -32 -71q0 -40 28 -68t68 -28t68 28t28 68q0 42 -32 71v89q0 52 38 90t90 38t90 -38t38 -90v-89q-32 -29 -32 -71q0 -40 28 -68 t68 -28t68 28t28 68q0 42 -32 71v89q0 68 -34.5 127.5t-93.5 93.5q0 10 0.5 42.5t0 48t-2.5 41.5t-7 47t-13 40q68 -15 120 -60.5t81 -103t47.5 -132.5t24 -138t5.5 -131zM1088 1024q0 -159 -112.5 -271.5t-271.5 -112.5t-271.5 112.5t-112.5 271.5t112.5 271.5t271.5 112.5 t271.5 -112.5t112.5 -271.5z' /></g></g></svg>"), none;
}
.fa-check-square {
  background-image: url("data:image/svg+xml;utf-8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='96' height='96' viewBox='0 0 100 100'><g transform='translate(10,80)'><g transform='scale(0.05,-0.05)'><path fill='#ffffff' d='M1408 606v-318q0 -119 -84.5 -203.5t-203.5 -84.5h-832q-119 0 -203.5 84.5t-84.5 203.5v832q0 119 84.5 203.5t203.5 84.5h832q63 0 117 -25q15 -7 18 -23q3 -17 -9 -29l-49 -49q-10 -10 -23 -10q-3 0 -9 2q-23 6 -45 6h-832q-66 0 -113 -47t-47 -113v-832 q0 -66 47 -113t113 -47h832q66 0 113 47t47 113v254q0 13 9 22l64 64q10 10 23 10q6 0 12 -3q20 -8 20 -29zM1639 1095l-814 -814q-24 -24 -57 -24t-57 24l-430 430q-24 24 -24 57t24 57l110 110q24 24 57 24t57 -24l263 -263l647 647q24 24 57 24t57 -24l110 -110 q24 -24 24 -57t-24 -57z' /></g></g></svg>"), none;
}
.fa-umbrella {
  background-image: url("data:image/svg+xml;utf-8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='36' height='36' viewBox='0 0 100 100'><g transform='translate(10,80)'><g transform='scale(0.05,-0.05)'><path fill='#ffffff' d='M896 708v-580q0 -104 -76 -180t-180 -76t-180 76t-76 180q0 26 19 45t45 19t45 -19t19 -45q0 -50 39 -89t89 -39t89 39t39 89v580q33 11 64 11t64 -11zM1664 681q0 -13 -9.5 -22.5t-22.5 -9.5q-11 0 -23 10q-49 46 -93 69t-102 23q-68 0 -128 -37t-103 -97 q-7 -10 -17.5 -28t-14.5 -24q-11 -17 -28 -17q-18 0 -29 17q-4 6 -14.5 24t-17.5 28q-43 60 -102.5 97t-127.5 37t-127.5 -37t-102.5 -97q-7 -10 -17.5 -28t-14.5 -24q-11 -17 -29 -17q-17 0 -28 17q-4 6 -14.5 24t-17.5 28q-43 60 -103 97t-128 37q-58 0 -102 -23t-93 -69 q-12 -10 -23 -10q-13 0 -22.5 9.5t-9.5 22.5q0 5 1 7q45 183 172.5 319.5t298 204.5t360.5 68q140 0 274.5 -40t246.5 -113.5t194.5 -187t115.5 -251.5q1 -2 1 -7zM896 1408v-98q-42 2 -64 2t-64 -2v98q0 26 19 45t45 19t45 -19t19 -45z' /></g></g></svg>"), none;
}
.fa-medkit {
  background-image: url("data:image/svg+xml;utf-8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='36' height='36' viewBox='0 0 100 100'><g transform='translate(10,80)'><g transform='scale(0.05,-0.05)'><path fill='#ffffff' d='M1280 416v192q0 14 -9 23t-23 9h-224v224q0 14 -9 23t-23 9h-192q-14 0 -23 -9t-9 -23v-224h-224q-14 0 -23 -9t-9 -23v-192q0 -14 9 -23t23 -9h224v-224q0 -14 9 -23t23 -9h192q14 0 23 9t9 23v224h224q14 0 23 9t9 23zM640 1152h512v128h-512v-128zM256 1152v-1280h-32 q-92 0 -158 66t-66 158v832q0 92 66 158t158 66h32zM1440 1152v-1280h-1088v1280h160v160q0 40 28 68t68 28h576q40 0 68 -28t28 -68v-160h160zM1792 928v-832q0 -92 -66 -158t-158 -66h-32v1280h32q92 0 158 -66t66 -158z' /></g></g></svg>"), none;
}
.isize-36 {
  width: 36px;
  height: 36px;
}
.isize-48 {
  width: 48px;
  height: 48px;
}
.isize-96 {
  width: 96px;
  height: 96px;
}
.centered-row {
  text-align: center;
}
.centered-row [class*='col-'] {
  vertical-align: top;
  float: none;
  display: inline-block;
}
.section.why-bb h5 {
  font-size: 1.1em;
}
.flex-video {
  position: relative;
  padding-top: 0;
  padding-bottom: 67.5%;
  height: 0;
  margin-bottom: 16px;
  overflow: hidden;
}
.flex-video iframe,
.flex-video object,
.flex-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.flex-video.vimeo {
  padding-top: 0;
}
.flex-video.widescreen {
  padding-bottom: 57.25%;
}
.vid-still {
  position: relative;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  #vid-modal .modal-dialog {
    width: 700px;
  }
}
@media screen and (min-width: 992px) {
  #vid-modal .modal-dialog {
    width: 800px;
  }
  h2.big-header,
  .lead {
    color: #25c2dc;
  }
  .img-subtext {
    color: #474b5a;
  }
}
.section.what-do {
  background-color: #fff;
  padding-bottom: 50px;
}
.step-num {
  font-weight: bold;
  font-size: 28px;
}
.section.testimonials {
  background-color: #328cc8;
  color: #fff;
}
@media (max-width:767px) {
  .section.testimonials {
    padding-bottom: 80px;
  }
}
.section.testimonials .img-container {
  text-align: left;
  overflow: hidden;
  padding: 0 3px;
  margin: 4px 0;
  position: relative;
  height: 200px;
}
@media (max-width:767px) {
  .section.testimonials .img-container {
    margin: 10px 0 18px;
  }
}
.section.testimonials .img-container img {
  width: 100%;
  min-height: 200px;
}
.section.testimonials .img-container .caption-wrapper {
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding: 0px 3px;
  width: 100%;
}
.section.testimonials .img-container .caption-wrapper .caption {
  padding: 6px;
  margin: 0;
  background-color: rgba(0,0,0,0.6);
  color: #fff;
  width: 100%;
}
.img-subtext {
  font-weight: normal;
  line-height: 1.2em;
  text-align: center;
  font-size: 1.5em;
}
.load-profile {
  min-height: 400px;
}
.fake-checkbox {
  color: #959dac;
  margin-right: 10px;
}
.fake-checkbox:before {
  font-size: 2.5em;
  line-height: 1.4em;
  font-family: FontAwesome;
  content: '\f096';
}
.fake-checkbox.checked {
  color: #474b5a;
}
.fake-checkbox.checked:before {
  content: '\f046';
}
.fake-checkbox em {
  display: none;
}
.box-link-rapper {
  display: block;
  margin-bottom: 30px;
  padding: 5px;
  text-decoration: none;
  height: 150px;
  background-color: #25c2dc;
  color: #fff;
}
.box-link-rapper:hover,
li.active .box-link-rapper {
  color: #fff;
  text-decoration: none;
  background-color: #0a94bb;
}
.box-link-rapper i {
  display: inline-block !important;
  font-size: 48px;
  padding-top: 8px;
}
.box-link-rapper .insurance-icon {
  padding-top: 0;
}
.box-link-rapper .start-here {
  margin-top: 2px;
}
@media screen and (max-width: 767px) {
  .box-link-rapper {
    text-align: left;
    padding-left: 65px;
    margin-bottom: 10px;
    height: auto;
  }
  .box-link-rapper i {
    font-size: 36px;
    position: absolute;
    left: 22px;
    top: 4px;
  }
  .box-link-rapper i.insurance-icon {
    top: 20px;
  }
  .box-link-rapper h3 {
    margin-top: 10px;
  }
}
.use-records-description {
  color: #25c2dc;
  border-bottom: none;
  padding-bottom: 8px;
}
.app-disclaimer {
  margin: 40px 0;
}
.app-rapper {
  margin-bottom: 40px;
}
.app-rapper .app-icon {
  width: 128px;
  height: 128px;
}
.nav-pills>li >a {
  -webkit-border-radius: 0;
  border-radius: 0;
  color: #474b5a;
  font-size: 18px;
}
.nav-pills>li.active>a {
  background-color: #25c2dc;
}
.nav-pills>li.active>a:hover,
.nav-pills>li.active>a:focus {
  background-color: #25c2dc;
}
#select-provider-wrapper {
  min-height: 250px;
}
.providers {
  padding: 20px 10px;
  border-top: solid 5px #25c2dc;
}
.provider-list {
  padding-right: 0px;
  height: 290px;
  overflow-y: auto;
}
.provider-list.nav-pills>li>a {
  font-size: 16px;
  line-height: 1.3em;
}
.provider-list.nav-pills>li>a.highlight {
  background-color: #ccc;
}
.provider-search-wrapper {
  margin-bottom: 18px;
  margin-top: 5px;
}
.no-data {
  margin-top: 0px;
  padding-left: 20px;
  border-left: solid 1px #959dac;
}
@media screen and (max-width: 767px) {
  .no-data {
    border-left: none;
    padding-left: 0px;
    margin-top: 15px;
    border-top: solid 1px #474b5a;
  }
}
.view-profile-btn {
  text-decoration: underline;
}
.get-data-btn {
  font-size: 18px;
}
.or {
  padding: 0 15px;
}
.not-listed-learn-more {
  text-decoration: underline;
}
.get-records-wrapper-link {
  padding-right: 40px;
  display: inline-block;
}
.provider-about-header,
.provider-description {
  padding-right: 20px;
}
ul.additional-features-list {
  margin-top: 10px;
  margin-left: 18px;
}
ul.additional-features-list li {
  line-height: 1.5em;
}
.get-records-prep {
  position: relative;
  margin-top: 0;
  margin-bottom: 25px;
}
.get-records-prep img.arrow-up {
  position: absolute;
  top: -60px;
  right: -25px;
  z-index: 1000;
}
.get-records-prep p {
  font-size: 18px;
}
.go-get-em-header {
  font-size: 18px;
  text-transform: uppercase;
  padding-top: 0;
  padding-bottom: 0;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .go-get-em-header {
    font-size: 14px;
  }
}
.ask-participate {
  margin-bottom: 40px;
  margin-top: 40px;
  border-top: solid 1px #e4e6ea;
}
.offerings {
  padding: 0 15px 15px;
  margin-left: -15px;
  margin-right: -15px;
}
.offerings ul>li {
  font-size: 16px;
  padding-bottom: 7px;
}
.partners-lists-container {
  margin-bottom: 35px;
}
.app-coming-soon {
  font-size: 5em;
}
.app-description {
  max-width: 220px;
  margin-right: auto;
  margin-left: auto;
}
.privacy-last-section {
  padding-bottom: 60px;
}
.profile-img {
  width: 400px;
}
.section.footer {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #e4e6ea;
}
.section.footer p {
  margin-top: 8px;
  padding-left: 5px;
  line-height: 1.4em;
}
.footer-links > li {
  padding-bottom: 10px;
}
