extends templates/layout

block content
  include templates/_topnav

  .container
    h1.page-title Get my health records
    .row
      .col-md-3.col-sm-3
        h4.fg-dgrey Select a source
        h6
          strong.fg-maqua Tip:
          |  You may have records in more than one source.
          |  One in three Americans has data available in their health insurance.

      .col-sm-9
        ul.row.data-sources.list-unstyled.text-center
          li.col-sm-6
            a.box-link-rapper(href='#insurance', data-toggle='tab')
              h3.fg-white Health Insurance
              i.insurance-icon.fa.fa-umbrella
              h6.start-here.fg-white start here
          li.col-sm-6
            a.box-link-rapper(href='#physician', data-toggle='tab')
              h3.fg-white Physician or Hospital
              i.fa.fa-user-md
          li.col-sm-6
            a.box-link-rapper(href='#pharmacy', data-toggle='tab')
              h3.fg-white Pharmacy or Lab
              i.fa.fa-medkit
          li.col-sm-6
            a.box-link-rapper(href='#immunization', data-toggle='tab')
              h3.fg-white Immunization Registry
              i.fa.fa-file-text-o

    #select-provider-wrapper.tab-content
      #insurance.tab-pane.row
        .col-md-3.col-sm-12
          h4.fg-dgrey Select your insurance provider

        .col-md-9.col-sm-9.providers
          h3 loading...


      #physician.tab-pane.row
        .col-md-3.col-sm-12
          h4.fg-dgrey Select your physician

        .col-md-9.col-sm-9.providers
          h3 loading...

      #pharmacy.tab-pane.row
        .col-md-3.col-sm-12
          h4.fg-dgrey Select your pharmacy

        .col-md-9.col-sm-9.providers
          h3 loading...

      #immunization.tab-pane.row
        .col-md-3.col-sm-12
          h4.fg-dgrey Select your immunization registry

        .col-md-9.col-sm-12.providers
          h3 loading...

append footer
  script.

    'use strict';

    // Add ECMA262-5 Array methods if not supported natively
    //
    if (!('indexOf' in Array.prototype)) {
      Array.prototype.indexOf= function(find, i /*opt*/) {
        if (i===undefined) i= 0;
        if (i<0) i+= this.length;
        if (i<0) i= 0;
        for (var n= this.length; i<n; i++)
          if (i in this && this[i]===find)
            return i;
        return -1;
      };
    }
    if (!('map' in Array.prototype)) {
      Array.prototype.map= function(mapper, that /*opt*/) {
        var other= new Array(this.length);
        for (var i= 0, n= this.length; i<n; i++)
          if (i in this)
            other[i]= mapper.call(that, this[i], i, this);
        return other;
      };
    }
    if (!('filter' in Array.prototype)) {
      Array.prototype.filter= function(filter, that /*opt*/) {
        var other= [], v;
        for (var i=0, n= this.length; i<n; i++)
          if (i in this && filter.call(that, v= this[i], i, this))
            other.push(v);
        return other;
      };
    }

    $.ajax({
      url: 'https://script.google.com/macros/s/AKfycbxlbakvkyNWUFFKtWeHE_mAyVNGjV7uX3vapzbZiuOxYtpraAA/exec?format=jsonp',
      success: onLoadProviderList,
      dataType: 'jsonp',
      crossDomain: true
    });

    function onLoadProviderList(data) {
      // FIXME move this sorting logic to the "server" eventually
      var insPros = [];
      var phyPros = [];
      var phaPros = [];
      var immPros = [];
      var stateList = ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut', 'Delaware', 'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico', 'New York', 'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming'];
      for (var i=0; i<stateList.length; i++) {
        immPros.push({name:stateList[i], bburl:'#', features:''});
      }
      //- console.log(data.results);

      var numProviders = data.results.length;
      for (var i=0; i<numProviders; i++) {
        var pro = data.results[i];
        if (/insurance/i.test(pro.category)) {
          insPros.push(pro);
        } else if (/hospital|physician/i.test(pro.category)) {
          phyPros.push(pro);
        } else if (/lab|pharmacy/i.test(pro.category)) {
          phaPros.push(pro);
        } else if (/immunization/i.test(pro.category)) {
          immPros.push(pro);
        }
      }

      $('#insurance .providers').html(providerList_tpl({category:'insurance' , providerList:insPros}));
      $('#physician .providers').html(providerList_tpl({category:'physician' , providerList:phyPros}));
      $('#pharmacy .providers').html(providerList_tpl({category:'pharmacy' , providerList:phaPros}));
      $('#immunization .providers').html(providerList_tpl({category:'immunization' , providerList:immPros}));
    }

