extends templates/layout

block content

  include includes/_vidmodal

  .section.splash-section.bg-white
    img.logo-big(src='img/bb-logo-depth.jpg')
    ul.top-nav.nav.nav-pills.pull-right
      li: a(href='records') Health Records
      li: a(href='apps') Apps
      li: a(href='faqs') FAQs
    .splash-title.text-center
      h1.fg-mblue Blue Button<sup>&#174;</sup> Connector
      h3.fg-mblue A Way to Help You Find Your Health Data
      a.btn.btn-lg.btn-primary(href="records") Get Started

  .section.why-bb
    #why-bb.container.text-center
      h2.h1.fg-white What is Blue Button?
      h2.fw-normal.readable-width-centered.fg-white Blue Button is a way to get your health records electronically so you can&hellip;
      .row
        .col-md-3.col-sm-6.circ-col.why-recall.text-center
          .wrap-outer-icon
            .wrap-icon.text-center.big-icon
              i.fa.fa-file-text-o.isize-96
          h3.fg-white Reference
          h5.fg-white.fw-normal your health records to be reminded when you had your last shot, or the exact date of a procedure.

        .col-md-3.col-sm-6.circ-col.why-check.text-center
          .wrap-outer-icon
            .wrap-icon.text-center.big-icon
              i.fa.fa-check-square.isize-96
          h3.fg-white Check
          h5.fg-white.fw-normal the accuracy of your records, monitor changes, and stay aware of your health status.

        .col-md-3.col-sm-6.circ-col.why-share.text-center
          .wrap-outer-icon
            .wrap-icon.text-center.big-icon
              i.fa.fa-user-md.isize-96
          h3.fg-white Share
          h5.fg-white.fw-normal with your doctor or someone else you trust, when traveling, seeking a second opinion, moving, switching insurance, or in case of emergency.

        .col-md-3.col-sm-6.circ-col.why-apps.text-center
          .wrap-outer-icon
            .wrap-icon.text-center.big-icon
              i.fa.fa-mobile.isize-96
          h3.fg-white Use Apps
          h5.fg-white.fw-normal to help better manage and coordinate your healthcare to achieve your health goals.

  .section.testimonials
    #testimonials.container.text-center
      h2.h1.fg-white Blue Button helped us.
      h2.fg-white.fw-normal See how Blue Button can help you.

      .row.centered-row
        a.vid-still(href='http://www.youtube.com/watch?v=lGGnda44Yik', data-ytid='lGGnda44Yik', target='_blank')
          .col-sm-6.img-container
            img.vid-cover(src='img/va-bb.jpg')
            .caption-wrapper
              h6.caption Use the VA Blue Button <br>to Access Your Personal Health Information
            img.play-btn-img(src='img/play-button.png')

        a.vid-still(href='http://www.youtube.com/watch?v=UMiPW831b1o', data-ytid='UMiPW831b1o', target='_blank')
          .col-sm-5.img-container
            img.vid-cover(src='img/health-it-for-you.jpg')
            .caption-wrapper
              h6.caption Health IT For You <br>Giving You Access to Your Medical Records
            img.play-btn-img(src='img/play-button.png')

      .row.centered-row
        a.vid-still(href='http://www.youtube.com/watch?v=JY1l5s8ED5c', data-ytid='JY1l5s8ED5c', target='_blank')
          .col-sm-5.img-container
            img.vid-cover(src='img/right-to-access.jpg')
            .caption-wrapper
              h6.caption The Right to Access and Correct Your Health Information
            img.play-btn-img(src='img/play-button.png')

        a.vid-still(href='http://www.youtube.com/watch?v=mX-QL9PoePU', data-ytid='mX-QL9PoePU', target='_blank')
          .col-sm-6.img-container
            img.vid-cover(src='img/hipaa-omnibus.jpg')
            .caption-wrapper
              h6.caption The HIPAA Omnibus Rule
            img.play-btn-img(src='img/play-button.png')

      .row.centered-row
        .col-sm-11.share-blurb.text-right
          p.fg-white.fs-xsmall Has Blue Button helped you?&nbsp;
            a.btn.share-btn.bg-mblue.fg-white.fs-xsmall(href='mailto:bluebutton@hhs.gov?subject=Blue%20Button%20helped%20me&body=Here%20is%20my%20story:', target='_blank') Share your story

      a.btn.fs-xlarge.fg-dblue.bg-white.fw-strong(href="records") Get Started
    a.next-btn.text-center.fg-white(href='#header')
      i.isize-36.fa.fa-chevron-up
      br
      | top
