extends templates/layout

block content
  .alert.alert-warning.alert-slim
    strong Note:&nbsp;
    | This is a work in progress.&nbsp;
    a.alert-link(href='#wip-modal', data-toggle='modal') Read more...

  #header.bb-onc-header
    ul.top-nav.nav.nav-pills.pull-right.hidden-xs
      li: a(href='findrecords.html') Get my records
      li: a(href='userecords.html') Use my records

    h6.onc-tagline.fg-white
      img.bb-onc-logo(src='img/bb-onc.png')
      //- | The Office of the National Coordinator for Health Information Technology

  include templates/_wip
  include templates/_vidmodal

  .section.splash-section
    .splash-img-wrapper
    .splash-title.text-center
      h1.h2 Introducing Blue Button:<br>Online access to your health records
      a.btn.btn-lg.btn-primary(href="findrecords.html") Get Started

    a.next-btn.text-center.fg-dblue(href='#why-bb') next
      br
      i.icon-chevron-down

  .section.why-bb
    #why-bb.container.text-center
      h2.h1.fg-white What is Blue Button?
      h2.fw-normal.fg-white Blue Button is a way to get your
        br
        | health records electronically so you can&hellip;
      .row
        .col-md-3.col-sm-6.circ-col.why-secure.text-center
          .wrap-outer-icon
            .wrap-icon.text-center
              i.circ-icon.icon-lock
          h3.fg-white Be Secure
          h5.fg-white.fw-normal that your records are protected under HIPAA. We do not store or collect your records but send you to organizations do.

        .col-md-3.col-sm-6.circ-col.why-recall.text-center
          .wrap-outer-icon
            .wrap-icon.text-center
              i.circ-icon.icon-file-text-alt
          h3.fg-white Reference
          h5.fg-white.fw-normal your health records to be reminded when you had your last shot, or the exact date of a procedure.

        .col-md-3.col-sm-6.circ-col.why-check.text-center
          .wrap-outer-icon
            .wrap-icon.text-center
              i.circ-icon.icon-check-sign
          h3.fg-white Check
          h5.fg-white.fw-normal the accuracy of your records, monitor changes, and stay aware of your health status.

        .col-md-3.col-sm-6.circ-col.why-share.text-center
          .wrap-outer-icon
            .wrap-icon.text-center
              i.circ-icon.icon-user-md
          h3.fg-white Share
          h5.fg-white.fw-normal with your doctor or someone else you trust, when traveling, seeking a second opinion, moving, switching insurance, or in case of emergency.

    a.next-btn.text-center.fg-white(href='#get-started') next
      br
      i.icon-chevron-down

  .section.get-started
    #get-started.container-inner.text-center
      h2.h1 Stay in control of your health
      h2.fg-maqua.fw-normal &hellip;in three easy steps:
      .row
        .col-sm-4.circ-col.start-find
          .wrap-outer-icon
            .wrap-icon.text-center
              //- i.circ-icon.icon-medkit
              h4.step-num.fg-white 1
          h3.fg-daqua Find It
          h5.fg-dgrey.fw-normal See if your physician, hospital, pharmacy, lab, or health insurance offers Blue Button.

        .col-sm-4.circ-col.start-download
          .wrap-outer-icon
            .wrap-icon.text-center
              //- i.circ-icon.icon-user-md
              h4.step-num.fg-white 2
          h3.fg-dblue Get It
          h5.fg-dgrey.fw-normal Start compiling your health data from your various health care providers.

        .col-sm-4.circ-col.start-use
          .wrap-outer-icon
            .wrap-icon.text-center
              //- i.circ-icon.icon-check-sign
              h4.step-num.fg-white 3
          h3.fg-mblue Use It
          h5.fg-dgrey.fw-normal Plug it into third party apps and services that help keep you at your best.

      h2: a.btn.btn-large.btn-primary(href='findrecords.html') Get started

    a.next-btn.text-center.fg-daqua(href='#testimonials') next
      br
      i.icon-chevron-down

  .section.testimonials
    #testimonials.container.text-center
      h2.h1.fg-white Blue Button helped us.
      h2.fg-white.fw-normal Read and watch how Blue Button can help you.

      .row.centered-row
        a.vid-still(href='http://www.youtube.com/watch?v=lGGnda44Yik', data-ytid='lGGnda44Yik', target='_blank')
          .col-sm-6.img-container
            img(src='img/va-bb.jpg')
            .caption-wrapper
              h6.caption Use the VA Blue Button <br>to Access Your Personal Health Information

        a.vid-still(href='http://www.youtube.com/watch?v=UMiPW831b1o', data-ytid='UMiPW831b1o', target='_blank')
          .col-sm-5.img-container
            img(src='img/health-it-for-you.jpg')
            .caption-wrapper
              h6.caption Health IT For You <br>Giving You Access to Your Medical Records

      .row.centered-row
        a.vid-still(href='http://www.youtube.com/watch?v=JY1l5s8ED5c', data-ytid='JY1l5s8ED5c', target='_blank')
          .col-sm-4.img-container
            img(src='img/right-to-access.jpg')
            .caption-wrapper
              h6.caption The Right to Access and Correct Your Health Information
        a(href='blue-button-beth-schindele.pdf', target='_blank')
          .col-sm-3.img-container
            img(src='img/beth-schindele.jpg')
            .caption-wrapper
              h6.caption.fg-dgrey Beth Schindele, caregiver and advocate for her father
        a.vid-still(href='http://www.youtube.com/watch?v=mX-QL9PoePU', data-ytid='mX-QL9PoePU', target='_blank')
          .col-sm-4.img-container
            img(src='img/hipaa-omnibus.jpg')
            .caption-wrapper
              h6.caption The HIPAA Omnibus Rule


      .row.centered-row
        .col-sm-11.share-blurb
          p.pull-right.text-right.fg-white Share your story on how Blue Button has helped you &rarr;
            a.share-btn.btn.btn-warning.btn-lg SHARE

    a.next-btn.text-center.fg-white(href='#header')
      i.icon-chevron-up
          br
      | top

append footer
  script.
    $(function() {
      if ($.cookie('wipmodalshow') === null) {
        $('#wip-modal').modal('show');
        $.cookie("wipmodalshow", "false");
      }
    });


