extends templates/layout
append vars
  - pgTitle = 'Blue Button Connector | Privacy'
block content
  include includes/_topnav
  .container
    h1.page-title Privacy

  .container
    .readable-width
      p.fs-medium The ability to download and share your health information offers you unique opportunities to stay in control of your health, but it is also important to keep that information safe.
      h5.fg-dgrey Who is responsible for protecting my health information?
      .row.clearfix
        .col-sm-6
          .little-circ.bg-maqua.pull-left
            h6.circ-label.fg-white.text-center HIPPA
          ul.privacy-list
            li physician offices
            li hospitals
            li health insurance
            li pharmacies
        .col-sm-6
          .little-circ.bg-dblue.pull-left
            h6.circ-label.fg-white.text-center YOU
          ul.privacy-list
            li a mobile app
            li a mobile device, such as a smartphone or tablet
            li shared over social media or health-related websites




      h3.section-title What kinds of information do you have?

      p
        | It is up to you to decide what you want to keep private and secure. But first, you
        | have to know what information you have, and where it came from. Think about
        | what you have in each of these categories:

      p
        span.fw-strong Physical records
        |  (e.g. paper copies, film, CDs, DVDs): Many people keep physical copies of some medical
        | records in their home such as visit
        | summaries, test results, ultrasound printouts, CDs with MRI scans, and
        | others. Some of the information contained in these records may be highly
        | personal or sensitive.

      p
        span.fw-strong Electronic records copied or downloaded
        |  to your personal computer, tablet, or
        | other device: If you have access to your records via Blue Button or another
        | patient portal, you might download copies of those records to your personal
        | computer or device. Or, you might scan your paper records to keep them
        | organized in an electronic filing system or to send to a physician. Or you
        | might choose to transfer files given to you on CD or DVD to your computer.
        | However your records moved to one of these devices, anyone with access to
        | these devices — whether physically or through hacking — may be able to
        | access your personal information.

      p
        span.fw-strong Electronic records kept on the Internet
        | , or "in the cloud." When kept by a
        | health care provider or insurer, online record systems are protected by
        | HIPAA regulations. But if you copy records to another system, like a third-party
        | Personal Health Record system, those records are not protected by
        | HIPAA. But in either case, those systems cannot protect against unauthorized
        | access by individuals who have access to your username, password, and
        | other credentials.

      p
        span.fw-strong "Records" you create yourself.
        | Keep in mind that you may create health
        | "records" that fall into any of these categories, even though they aren't
        | records from your doctor, insurer, or other health care provider. Examples
        | include:
        ul
          li Diaries of symptoms, medications, activities, or other items
          li Apps that track your daily activity, your blood pressure, your glucose readings, or other regular measurements
          li A post you write on an online health forum
          li An email you write to your doctor

      h3.section-title Strategies for keeping your information safe
      p
        | Most of the above examples call for a combination of approaches to help keep your
        | information safe and secure. Below, you'll find some general tips that you can apply
        | to as needed based on what you have, and what you want to keep safe. But note that
        | no tip list can cover every possible situation, and we recommend that you seek out
        | more information and help as needed.

      h4 Physical security

      ul
        li
          | Keep important paper records and other physical media like CDs and DVDs
          | in a locked filing cabinet or fire safe, and keep the key separate from the
          | storage unit.
        li
          | Don't keep unnecessary copies. For example, if you print out an extra copy of
          | a record to use during a phone conversation, lock it away or destroy it after
          | the fact.
        li
          | Avoid keeping written copies of passwords.
        li
          | If you have a Flash drive or hard drive with private records, detach it from
          | your computer when not in use to prevent unauthorized access. Consider
          | storing the drive in a fire safe.

      h4 General computer and network security
      p
        | Turn your computer off when not in use.
        | Create a password for your WiFi network, or use software to segment your
        | WiFi network to prevent guests from accessing other computers and devices on the same network.
        | Do not join unfamiliar or untrusted WiFi networks.
        | If you have a Flash drive or hard drive with private records, detach it from your computer when not in use to prevent unauthorized access. Consider storing the drive in a fire safe.

      h4 Password and authentication security
      ul
        li Protect your computer with a password, and require use of the password to start up the computer or wake the computer from sleep.
        li Protect your smartphone or tablet with a password or passcode to protect your information even if the devices are lost or stolen. Require use of the password or passcode when starting the device or after short periods of inactivity.
        li Choose passwords that are easy for you to remember but difficult for others to guess. Avoid using personal information in passwords like familiar phone numbers and birthdays. In general, a longer password is more secure than a shorter password.

      h4 Other security tips

      p
        | Many smart phones and tablets now include the ability to ‘self-destruct'
        | after some number of unauthorized access attempts. Others can be erased
        | remotely. Learn about the security features unique to your device and decide
        | if they're right for you.

      p
        | Some computers and other devices now use biometric devices like
        | fingerprint scanners to keep information secure. Learn about the security
        | features unique to your computer and decide if they're right for you.

      h4 Information that can't be protected

      p As hard as we try, there is some information that we simply do not control. Consider these tips when sharing personal health information:
      ul
        li
          | Never post anything online that you don't want made public. Even private
          | online resources like moderated forums may expose your information to the
          | broader public Internet.
        li
          | Never assume that others won't share the information you share with
          | them. If you send personal health information in an email, even to a trusted
          | person, the possibility exists that they will forward it to someone else, or that
          | someone unauthorized will access their email.
        li
          | Never assume that others take your privacy as seriously as you do. Once
          | you give a record to someone else, whether a physical folder of papers or an
          | email with a test result, that information is out of your hands. Others may not
          | take the steps to protect your information that you would take yourself.

  .container.privacy-last-section
    h3.section-title.readable-width Other resources for keeping your private information private

    p.readable-width.fs-medium The Federal government provides several resources to help citizens maintain their privacy and keep their personal data secure. Visit the following sites to learn more:

    ul
      li
        a(href='http://www.consumer.ftc.gov/topics/privacy-identity') Federal Trade Commission consumer page on privacy and identity
      li
        a(href='http://www.onguardonline.gov/') OnGuardOnline, a Federal Trade Commission page on general computer safety.
      li
        a(href='http://www.hhs.gov/ocr/privacy/hipaa/understanding/consumers/medicalrecords.html') U.S. Department of Health and Human Services page on HIPAA


