extends templates/layout
block content
  include templates/_topnav
  .container
    h1.page-title Get Involved To Be Featured On The Hub

    h2 Critera for:
    .row.partners-lists-container

      .col-sm-4
        h3.fg-mblue data holders
        ul.partners-list
          li
            h6 Enable patients/members to view and download their records online

          //- li
          //-   h6 Enable patients/members to securely send their records to their preferred application

          //- li
          //-   h6 Enable patients/members to automatically receive updates to their health records

          //- li
          //-   h6 Use the Blue Button Logo on your site and follow the
          //-     a.fg-daqua.fw-strong(href='http://www.healthit.gov/patients-families/blue-button/blue-button-image')  logo usage guidelines

      .col-sm-4
        h3.fg-mblue data receivers
        ul.partners-list
          li
            h6 Receive or transmit CCDA
          li
            h6 Use Direct protocols for data transmission
          li
            h6 App must be transparent with user about data security/privacy

      .col-sm-4
        h3.fg-mblue supporting organizations
        ul.partners-list
          li
            h6 Take the
              a(href='http://www.HealthIT.gov/pledge') Blue Button Pledge
          li
            h6 Use the logo and phrase "Blue Button" to describe a way consumers can get electronic access to their health information through health IT. Please ensure that you follow the
              a.fg-daqua.fw-strong(src='http://www.healthit.gov/patients-families/blue-button/blue-button-image')  logo usage guidelines.
          li
            h6 Help spread the word about Blue Button. Use our public service announcements and other assets for your outreach efforts. Blog, tweet #BlueButton, and use other social media to talk to consumers about the importance of Blue Button and consumer engagement.

