extends templates/layout
block content
  include includes/_topnav
  .container
    h1.page-title
    #wufoo-z12mdm9y05ujdkm One moment please...<br><br>(you may also fill out this form <a href="https://limechile.wufoo.com/forms/z12mdm9y05ujdkm">here</a>).<br><br>
    script.
      var z12mdm9y05ujdkm;
      function onGetWuVals(res) {
        setupWu(document, 'script', res.wuParams);
      }
      function setupWu(d, t, wuParams) {
        $('.page-title').remove();
        var s = d.createElement(t), options = {
        'userName':'limechile',
        'formHash':'z12mdm9y05ujdkm',
        'autoResize':true,
        'height':'1090',
        'async':true,
        'host':'wufoo.com',
        'header':'show',
        'defaultValues': wuParams,
        'ssl':true};
        s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
        s.onload = s.onreadystatechange = function() {
          var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
          try {
            z12mdm9y05ujdkm = new WufooForm();
            z12mdm9y05ujdkm.initialize(options);
            z12mdm9y05ujdkm.display();
          } catch (e) {}
        };
        var scr = d.getElementsByTagName(t)[0], par = scr.parentNode;
        par.insertBefore(s, scr);
      };
      var urlParams;
      (window.onpopstate = function () {
          var match,
              pl     = /\+/g,  // Regex for replacing addition symbol with a space
              search = /([^&=]+)=?([^&]*)/g,
              decode = function (s) { return decodeURIComponent(s.replace(pl, " ")); },
              query  = window.location.search.substring(1);

          urlParams = {};
          while (match = search.exec(query))
             urlParams[decode(match[1])] = decode(match[2]);
      })();

      if (typeof urlParams.id === "undefined") {
        setupWu(document, 'script', '')
      } else {
        $('.page-title').text("Loading...");
        $.ajax({
          url: "https://script.google.com/macros/s/AKfycbyLS-LV_9Vi0KrCLPzQjdPCQVHvPh326ibr_VTkMTmOKlOiYIjM/exec",
          dataType: "jsonp",
          data: {
            action: "getwu",
            id: urlParams.id,
            format: "jsonp"
          },

          // work with the response
          success: onGetWuVals
        });
      }
