extends templates/layout
block content
  include templates/_topnav
  .container
    h1.page-title Use my health records

    h4.use-records-description.readable-width.fg-dgrey
      | Take your records with you. Plug them into apps and other services that help
      | you reach your health goals and receive recommendations to keep you at your best.

    - var apps = []
    - apps.push({name: 'Microsoft HealthVault', link: 'http://healthvault.com', img: 'healthvault.png'})
    - apps.push({name: 'Humetrix iBlueButton', link: 'http://www.ibluebutton.com/get-apps/', img: 'ibluebutton.png'})
    - apps.push({name: 'FollowMyHealth', link: 'https://www.followmyhealth.com/', img: 'followmyhealth.png'})
    - apps.push({name: 'Quest Gazelle', link: 'http://mygazelleapp.com/', img: 'gazelle.png'})
    - apps.push({name: 'NoMoreClipboard', link: 'http://www.nomoreclipboard.com/', img: 'nomoreclipboard.png'})
    - apps.push({name: 'Geanie MD', link: 'http://geniemd.com/', img: 'geaniemd.jpg'})

    ul.row.list-unstyled.text-center
      each app in apps
        li.col-sm-4.app-rapper
          a.text-center(href=app.link)
            img.app-icon(src='/img/apps/' + app.img)
            h5.fg-maqua= app.name

    .app-disclaimer
      p
        | The apps and services above contains just a fraction of the resources available
        | today. The Department of Health and Human Services or the U.S. Government does not
        | endorse any product, service or general policies of any non-Feder- al entity nor is
        | responsible for the content of any individual organization’s material or web pages
        | found at these links.
