extends templates/layout
block content
  include templates/_topnav
  .container
    h1.page-title Use my health records

    h4.use-records-description.text-center.fg-dgrey
      | Take your records with you. Plug them into apps and other services that help
      | you reach your health goals and receive recommendations to keep you at your best.

    ul.row.centered-row.list-unstyled.text-center
      li.col-sm-3
        a.box-link-rapper.app-rapper(href='#')
          h5.fg-white iBlueButton
      li.col-sm-3
        a.box-link-rapper.app-rapper(href='#')
          h5.fg-white Microsoft HealthVault
      li.col-sm-3
        a.box-link-rapper.app-rapper(href='#')
          h5.fg-white NoMoreClipboard

    .app-disclaimer
      p
        | The apps and services above contains just a fraction of the resources available
        | today. The Department of Health and Human Services or the U.S. Government does not
        | endorse any product, service or general policies of any non-Feder- al entity nor is
        | responsible for the content of any individual organization’s material or web pages
        | found at these links.
