extends ../templates/layout
append vars
  - nestLevel = '../'
  - pgTitle = 'Blue Button Connector | Developers'
block content
  include ../includes/_topnav
  .container
    h1.page-title Resources for developers

    h3.fg-mblue API
    p.readable-width.fg-dgrey The Blue Button Connector provides a free, public, read-only API to access the directory of organizations and apps that are featured on the Connector site, as well as a an updated list of hospitals and providers that have reached <a class='fw-strong' href="http://www.cms.gov/Regulations-and-Guidance/Legislation/EHRIncentivePrograms/Stage_2.html">Stage 2 of meaningful use</a> under the Medicare and Medicaid EHR Incentive Program. The API supports CORS and JSONP.
    a.btn.btn-primary(href='http://api.bluebuttonconnector.healthit.gov') API documentation & examples

    h3.fg-mblue Bulk Downloads
    p
      | Organizations: &nbsp;
      a.fw-strong(href='/data/organizations.json') JSON
      |  |&nbsp;
      a.fw-strong(href='/data/organizations.csv') CSV
    p
      | Apps: &nbsp;
      a.fw-strong(href='/data/apps.json') JSON
      |  |&nbsp;
      a.fw-strong(href='/data/apps.csv') CSV
    p
      | Meaningful Use Stage 2: &nbsp;
      a.fw-strong(href='/data/stage2.json') JSON
      |  |&nbsp;
      a.fw-strong(href='/data/stage2.csv') CSV


    h3.fg-mblue Adding data to the Connector
    p.readable-width.fg-dgrey Although the public API is currently read-only, you can use the web form to add a new <a class='fw-strong' href='/update-organization'>organization</a> or <a class='fw-strong' href='/update-app'>app</a>. You'll find a link at the bottom of each organization profile page that you can use to suggest corrections to existing organizations.
    p.readable-width.fg-dgrey If your addition or correction is approved, it will appear on the website and in the API.

    h3.fg-mblue Connector website files
    p.readable-width.fg-dgrey This Connector website has been built in the open. You can find the <a class='fw-strong' href='https://github.com/blue-button/connector'>source files on Github</a>.

    h3.fg-mblue Blue Button Toolkit
    p.readable-width.fg-dgrey If you would like to learn more about implementing Blue Button, check out the <a class='fw-strong' href="http://bluebuttontoolkit.healthit.gov">Blue Button Toolkit website</a>.

    h3.fg-mblue Questions or Suggestions?
    p.readable-width.fg-dgrey Just <a class='fw-strong' href='mailto:bluebutton@hhs.gov', target='_blank'>send us an email</a>.
